@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Roboto+Condensed&family=Rubik+Mono+One&family=Share&display=swap');

.contenedorContacto{
    grid-template-columns: 0.5fr 0.5fr  0.5fr;
    grid-template-rows:  0.5fr 0.5fr 0.5fr; 
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
                         .header{
                            grid-area: header;
                        }
                        .contenidoPrincipal{
                            grid-area: main;
                            h1{
                             margin: 5%;
                             margin-left: 24%;
                             color: rgb(0, 3, 178);
                             font-family: $tipografiaTitulo ; 
                             }
                             p{
                                margin: 2%;
                                font-family: $tipografiaParrafo;
                             }
                            .formulario{
                                border: 1px black solid;
                                background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                                border-radius: 44px;
                                margin: 90px;
                                padding: 80px;
                             }
                            
                        }
                        .piePagina{
                            grid-area: footer;
                            height: 200px;
                            margin-top: auto;
                            
                        }

                  }

       /*tablet */
 @media (max-width:768px) and (min-width:480px){
    .contenedorContacto{
        width: 100%;
        max-width: 100%; 
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header header"
                             "main main"
                             "footer footer"; 
                             .header{
                                .logo{
                    
                                   display: none;
                                }
                                .link{
                                   display: block;
                                   a{
                                       font-size: 27px;
                                   }
                                }
                            }
                            }
 }            

  /*pantalla celular*/
 @media (max-width:479px) and (min-width:320px){
    .contenedorContacto{
         
        grid-template-columns: 0.2fr;
        grid-template-rows:   0.2fr;
        grid-template-areas: "header"
                             "main"
                             "footer";
                             /*HEADER*/ 
                             .header{
                                .logo{
                                   height: 0px;
                                   display: none;
                                }
                                .link{
                                    .btn{
                                        padding: 2px 9px;
                                        button{
                                            font-size: 8px;
                                            font-weight: 700;
                                              }
                                       } 
                                    a{
                                       font-size: 7px;
                                     }
                                    }
                                   }

                             .contenidoPrincipal{
                                h1{
                                    font-size: 25px;
                                }
                                p{
                                    font-size: $fuenteSecundaria;
                                }
                             }      

                            /*PIE DE PAGINA*/
                            .piePagina{
                                .redes{
                                    .redesImg{
                                        width: 40px;
                                    }
                                }
                                .whatsapp{
                                    .whatImg{
                                        width: 60px;
                                    }
                                }
                                p{
                                    font-size: 10px;
                                }
                                
                             }
 }
 }                