
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap');

.contenedorNosotros{
    width: 100%;
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  0.2fr 1fr  0.5fr;
    grid-template-areas: "header header"
                         "contenidoPrincipal contenidoPrincipal"
                         "footer footer";
                         .header{
                            grid-area: header;
                         }
                         .nosotrosMenu{
                            grid-area: contenidoPrincipal ;
                            h1{
                                margin: 22px;
                                margin-left: 32%;
                                font-family: $tipografiaTitulo;
                            }
                            p{
                                padding: 5%;
                                font-family: $tipografiaParrafo;
                            }
                            img{
                                height: 200px;
                                margin: 10px 20px 50px 50px;
                                border: solid 3px black;
                            }
                            
                         }
                         
                         .piePagina{
                            grid-area: footer;
                            p{
                                display: flex;
                                justify-content: center;
                            }
                         }
 }

 /*tablet */
 @media (max-width:768px) and (min-width:480px){
    .contenedorNosotros{
        width: 100%;
        max-width: 100%; 
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header header"
                             "contenidoPrincipal contenidoPrincipal"
                             "footer footer"; 
                             .header{
                                .logo{
                    
                                   display: none;
                                }
                                .link{
                                   display: block;
                                   a{
                                       font-size: 27px;
                                   }
                                }
                            }
                            }
 }

 /*pantalla celular*/
 @media (max-width:479px) and (min-width:320px){
    .contenedorNosotros{
         
        grid-template-columns: 0.2fr;
        grid-template-rows:   0.2fr;
        grid-template-areas: "header"
                             "contenidoPrincipal "
                             "footer";
                             /*HEADER*/ 
                             .header{
                                width: 13rem;
                                .logo{
                                   height: 0px;
                                   display: none;
                                }
                                .link{
                                    width: auto;
                                    .btn{
                                        padding: 2px 9px;
                                        button{
                                            font-size: 8px;
                                            font-weight: 700;
                                              }
                                       } 
                                    a{
                                       font-size: 7px;
                                     }
                                    }
                                   }

                                   .nosotrosMenu{
                                    grid-area: contenidoPrincipal ;
                                    h1{
                                        font-size: $fuenteSecundaria;
                                        margin: 26px;
                                        text-align: center;
                                        font-family: 'Lilita One', cursive;
                                    }
                                    p{
                                        font-size: 16px;
                                        font-family: 'Share', cursive;
                                        strong{
                                            font-size: 16px;
                                        }
                                    }
                                    img{
                                        height: 170px;
                                        
                                        border: solid 3px black;
                                    }
                                    
                                 }

                            /*PIE DE PAGINA*/
                            .piePagina{
                                .redes{
                                    height: 50px;
                                    .redesImg{
                                        width: 40px;
                                    }
                                }
                                .whatsapp{
                                    .whatImg{
                                        width: 60px;
                                    }
                                }
                                p{
                                    font-size: 10px;
                                }
                                
                             }
 }
 }