
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap');

.contenedorNosotros{
    width: 100%;
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  0.2fr 1fr 0.2fr 0.5fr;
    grid-template-areas: "header header"
                         "contenidoPrincipal contenidoPrincipal"
                         "seccion seccion"
                         "footer footer";
                         .header{
                            grid-area: header;
                         }
                         .nosotrosMenu{
                            grid-area: contenidoPrincipal ;
                            h2{
                                margin: 22px;
                                margin-left: 32%;
                                font-family: 'Lilita One', cursive;
                            }
                            p{
                                padding: 5%;
                                font-family: 'Share', cursive;
                            }
                            img{
                                height: 200px;
                                margin: 10px 20px 50px 50px;
                                border: solid 3px black;
                            }
                            
                         }
                         .sectionNos{
                            grid-area:seccion;
                            .iframe{
                                height: 310px;
                                width: 408px;
                                border: 1px black solid;
                                margin-left: 35%;
                                margin-top: 50px; 
                               margin-bottom: 52px;
                            }
                         }
                         .piePagina{
                            grid-area: footer;
                            p{
                                display: flex;
                                justify-content: center;
                            }
                         }
 }