
.contenedorNosotros{
    width: 100%;
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  0.2fr 1fr 0.2fr 0.5fr;
    grid-template-areas: "header header"
                         "contenidoPrincipal contenidoPrincipal"
                         "seccion seccion"
                         "footer footer";
                         .header{
                            grid-area: header;
                         }
                         .nosotrosMenu{
                            grid-area: contenidoPrincipal ;
                            img{
                                height: 200px;
                                margin: 10px 20px 50px 50px;
                                border: solid 3px black;
                            }
                            
                         }
                         .sectionNos{
                            grid-area:seccion;
                            .iframe{
                                height: 310px;
                                width: 408px;
                                border: 1px black solid;
                                margin-left: 35%;
                                margin-top: 50px; 
                               margin-bottom: 52px;
                            }
                         }
                         .piePagina{
                            grid-area: footer;
                         }
 }