
.contenedorNovedades{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.1fr;
    grid-template-areas: "header header"
                         " contenido contenido"
                         "footer footer";
                         .header{
                            background-color: #050f14;
                            grid-area: header;
                        }
                        .contenido{
                            grid-area: contenido;
                            .contenedorNovedad{
                                display: flex;
                                margin: 4%;
                                width: 70%;
                                margin-left: 19%;
                               
                                .uniT{
                                    margin-right: 6%;
                                    border: 4px black solid;
                                    margin-right: 18%;
                                 }
                                 .parlantes{
                                    margin-right: 6%;
                                    border: 4px black solid;
                                }
                                .card-img-top{
                                    width: 39%;
                                    margin-left: 27%;
                                
                                }
                                .card-title{
                                    text-align: center;
                                    font-size: 23px;
                                    margin-left: 20%;
                                    margin-right: 20%;
                                }
                                .card-text{
                                    font-size: 15px;
                                }
                                .btn-primary{
                                    margin-top: 3%;
                                    margin-left: 23%;
                                }
                            }
                            h1{
                                font-family:$tipografiaTitulo ;
                                margin: 6%;
                                font-size: 42px;
                                text-align: center;
                            }
                            p{
                                margin: 1%;
                                font-family: $tipografiaParrafo;
                                text-align: center;
                                font-size: 24px;
                            }
                        }
                        .piePagina{
                            grid-area: footer;
                            height: 200px;
                            margin-top: auto;
                           
                        } 
} 

 /*tablet */
 @media (max-width:768px) and (min-width:480px){
    .contenedorNovedades{
        width: 100%;
        max-width: 100%; 
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header header"
                             "contenido contenido"
                             "footer footer"; 
                             .header{
                                .logo{
                    
                                   display: none;
                                }
                                .link{
                                   display: block;
                                   a{
                                       font-size: 27px;
                                   }
                                }
                            }
                            }
 }

 /*pantalla celular*/
 @media (max-width:479px) and (min-width:320px){
    .contenedorNovedades{
        grid-template-columns: 0.1fr;
        grid-template-rows:  0.1fr 0.1fr 0.1fr;
        grid-template-areas: "header"
                             "contenido"
                             "footer";
                             /*HEADER*/ 
                             .header{
                                .logo{
                                    height: 0px;
                                    display: none;
                                     }
                                     .link{
                                        display: block;
                                        width: 100%;
                                        .btn{
                                            padding: 2px 9px;
                                            button{
                                                font-size: 8px;
                                                font-weight: 700;
                                                  }
                                           } 
                                       a{
                                           font-size: 7px;      
                                        }
                                     }     
                                    }
                            /*contenido*/
                            .contenido{  
                                h1{
                                    text-align: center;
                                     font-size: 26px;
                                     margin-top: 35px;
                                     margin-bottom: 29px;
                                    }
                                p{   
                                     font-size: 15px ;
                                     margin-left: 28px;
                                     
                                     margin-bottom: 22px;
                                     text-align: center;
                                     
                                        strong{
                                            font-size: 15px;
                                        }
                                    }
                                    .contenedorNovedad{
                 
                                        width: 11rem;
                                        display: inline-block;
                                        margin-left: 47px;
                                        
                                        margin-bottom: 54px;
                                        
                                        .uniT{
                                          margin-left: 2px;
                                           border: 2px black solid;
                                           height: 40%;
                                           width: 200px;
                                       
                                        }
                                        .card-title{
                                           text-align: center;
                                           font-size: 22px;
                                           margin-left: 15%;
                                           margin-right: 15%; 
                                        }
                                        .card-img-top{
                                           width: 68%;
                                           margin-left: 17%;
                                           margin-right: 15%;
                                        }
                                        .card-text{
                                          
                                           font-size: 16px;
                                           margin-left: 0px;
                                           margin-right: 1px;
                                        }
                                        .parlantes{
                                           width: 10rem;
                                        }
                                      }
                                     }
                             /*pie depagina*/
                            .piePagina{
                                  margin-bottom: 0%;
                                  width: 100%;
                            .redesImg{
                                  width: 20px;
                                  margin-bottom: 44px; 
                                    }
                           .whatsapp{
                              .whatImg{
                                 width: 34px;
                                      }
                                    }
                            p{
                                 font-size: 12px;
                                 margin-bottom: 0px;
                            } 
                                   }        
    }
    } 
   

    

            
           
            
              