
.contenedorNovedades{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.1fr;
    grid-template-areas: "header header"
                         " contenido contenido"
                         "footer footer";
                         .header{
                            background-color: #050f14;
                            grid-area: header;
                        }
                        .contenido{
                            grid-area: contenido;
                            .contenedorNovedad{
                                display: flex;
                                margin: 4%;
                               
                                .uniT{
                                    margin-right: 6%;
                                    border: 4px black solid;
                                 }
                                 .parlantes{
                                    margin-right: 6%;
                                    border: 4px black solid;
                                }
                            }
                            h2{
                                font-family: 'Rubik Mono One', sans-serif;
                                margin: 6%;
                                font-size: 42px;
                            }
                            p{
                                margin: 5%;
                            }
                        }
                        .piePagina{
                            grid-area: footer;
                            height: 200px;
                            margin-top: auto;
                           
                        }

   
                        
} 

 /*pantalla celular*/
 @media (max-width:479px) and (min-width:320px){
         .contenedorNovedades{
        
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header"
                             "contenido"
                             "footer";
                             /*HEADER*/ 
                             .header{
                                .logo{
                                    height: 0px;
                                    display: none;
                                     }
                                     .link{
                                        .btn{
                                            padding: 2px 9px;
                                            button{
                                                font-size: 8px;
                                                font-weight: 700;
                                                  }
                                           } 
                                       a{
                                           font-size: 7px;      
                                        }
                                     }     
                                    }
 
                                    /*contenido*/
                                .contenido{
                                    h2{
                                         display: block;
                                         font-size: $fuenteSecundaria;
                                        }
                                    p{
                                         font-size: 15px ;
                                         display: inline-block;
                                         margin-left: 8px;
                                         margin-right: 54px;
                                         padding-right: 53px;
                                            strong{
                                                font-size: 20px;
                                            }
                                        }
                                    .contenedorNovedad{
                                         display: block;
                                         margin: 22px;
                                         .uniT{
                                            height: auto;
                                         }
                                         .parlantes{
                                            height: auto;
                                         }
                                       }
                                   

                                .piePagina{
                                    .redes{
                                        .redesImg{
                                            height: 22px;
                                        }
                                    }
                                }    
                            
 }
 }
 }