
.contenedorTienda{
    width: 100%;
    max-width: 100%; 
    display: grid;
   grid-template-columns: 0.5fr 0.5fr  0.5fr;
   grid-template-rows:  0.2fr 1fr 0.5fr; 
   grid-template-areas: "header header header"
                        "galeria galeria galeria"
                        "footer footer footer";
                        .header{
                            grid-area: header;
                        }
                        .tiendaProductos{
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                            grid-auto-rows: 320px;
                            gap: 100px;
                            padding: 40px;
                            margin: 6px;
                            grid-area: galeria;
                            
                         }
                         .tiendaItem{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 100px;
                            padding: 10px;
                        }
                         .piePagina{
                            grid-area: footer;
                        
                        }
}


 /*tablet */
 @media (max-width:768px) and (min-width:480px){
    .contenedorTienda{
        width: 100%;
        max-width: 100%; 
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header header"
                             "galeria galeria"
                             "footer footer"; 
                             .header{
                                .logo{
                    
                                   display: none;
                                }
                                .link{
                                   display: block;
                                   a{
                                       font-size: 27px;
                                   }
                                }
                            }
                            }
 }

 /*pantalla celular*/
 @media (max-width:479px) and (min-width:320px){
    .contenedorTienda{
        grid-template-columns: 0.2fr;
        grid-template-rows:  0.2fr;
        grid-template-areas: "header"
                             "galeria"
                             "footer";
                             /*HEADER*/ 
                             .header{
                                .logo{
                                   height: 0px;
                                   display: none;
                                }
                                .link{
                                    width: auto;
                                    .btn{
                                        padding: 2px 9px;
                                        button{
                                            font-size: 10px;
                                            font-weight: 700;
                                              }
                                       } 
                                    a{
                                       font-size: 7px;
                                     }
                                    }
                                   }
                            /*main*/
                            .tiendaProductos{
                                .tiendaItem{
                                    width: 25%;
                                }
                            }
                            /*PIE DE PAGINA*/
                            .piePagina{
                                height: 99%;
                                .redesImg{
                                    width: 50px;
                                }
                                .whatsapp{
                                     bottom: 20px;
                                     right: 10px;
                                .whatImg{
                                        width: 54px;
                                    }
                                }
                                p{
                                    font-size: 12px;
                                    margin-top: 4%;
                                }
                              }
 }
 }