*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

body{
    background-color: #f0f8ff;
}

.header{
    background-color: #050f14;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 285px;
    padding: 5px 10px;
    .logo{
        cursor: pointer;
        img{
            height: 280px;
            width: auto;
            transition: all;
            &:hover{
                transform: scale(1.2);
            }
            .link ul {
                list-style: none;
                li{
                    display: inline-block;
                    padding: 0px 20px;
                }
             }
        }
    }
}
