@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Roboto+Condensed&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee&family=Bungee+Inline&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
.contenedorIndex {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr 0.5fr;
  grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "seccionIndex seccionIndex" "footer footer"; }
  .contenedorIndex .header {
    grid-area: header; }
  .contenedorIndex .contenidoPrincipal {
    grid-area: contenidoPrincipal; }
    .contenedorIndex .contenidoPrincipal h1 {
      padding: 50px;
      font-family: 'Abril Fatface', cursive;
      font-family: 'Alkalami', serif;
      font-family: 'Anton', sans-serif; }
      .contenedorIndex .contenidoPrincipal h1 .tituloPrincipal {
        display: inline-block;
        align-items: center; }
    .contenedorIndex .contenidoPrincipal .parrafoPrin {
      display: inline-block;
      margin-left: 300px;
      font-family: 'Abril Fatface', cursive;
      font-family: 'Alkalami', serif;
      font-family: 'Anton', sans-serif;
      font-family: 'Be Vietnam Pro', sans-serif; }
  .contenedorIndex .seccionIndex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 320px;
    gap: 40px;
    padding: 40px;
    grid-area: seccionIndex; }
    .contenedorIndex .seccionIndex .indexItem {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #008cff;
      border-radius: 4px;
      transition: transform 0.3s ease-in-out;
      border: solid 1px white; }
      .contenedorIndex .seccionIndex .indexItem:hover {
        filter: opacity(0.9);
        transform: scale(1.04); }
  .contenedorIndex .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

/*pantalla tablet*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .contenedorIndex {
    width: 80%;
    max-width: 80%;
    display: grid;
    grid-template-rows: 0.3fr 0.1fr 0.1fr 0.3fr;
    grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "seccionIndex seccionIndex" "footer footer";
    /*header*/
    /*main*/
    /*seccion*/
    /*pie de pagina*/ }
    .contenedorIndex .header .logo {
      height: 0px;
      display: none; }
    .contenedorIndex .header .link ul li {
      display: block; }
    .contenedorIndex .contenidoPrincipal .h5 {
      font-size: 13px;
      color: #d8d0d0;
      font-family: 'Anton', sans-serif; }
    .contenedorIndex .contenidoPrincipal .pIndex {
      font-size: 13px;
      color: #d8d0d0;
      font-family: 'Anton', sans-serif; }
    .contenedorIndex .seccionIndex .indexItem {
      display: block;
      height: 50px; } }

/*pantalla mediana*/
/*pantalla mediana*/
.contenedorTienda {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr  0.5fr;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-template-areas: "header header header" "galeria galeria galeria" "footer footer footer"; }
  .contenedorTienda .header {
    grid-area: header; }
  .contenedorTienda .tiendaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 320px;
    gap: 100px;
    padding: 40px;
    margin: 6px;
    grid-area: galeria; }
  .contenedorTienda .tiendaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 10px; }
  .contenedorTienda .piePagina {
    grid-area: footer; }

.contenedorNovedades {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.1fr;
  grid-template-areas: "header header" " contenido contenido" "footer footer"; }
  .contenedorNovedades .header {
    background-color: #050f14;
    grid-area: header; }
  .contenedorNovedades .contenido {
    grid-area: contenido; }
    .contenedorNovedades .contenido .contenedorNovedad {
      display: flex;
      margin: 4%; }
      .contenedorNovedades .contenido .contenedorNovedad .uniT {
        margin-right: 6%;
        border: 4px black solid; }
      .contenedorNovedades .contenido .contenedorNovedad .parlantes {
        margin-right: 6%;
        border: 4px black solid; }
    .contenedorNovedades .contenido h2 {
      font-family: 'Rubik Mono One', sans-serif;
      margin: 6%;
      font-size: 42px; }
    .contenedorNovedades .contenido p {
      margin: 5%; }
  .contenedorNovedades .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

.contenedorNosotros {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr 0.5fr;
  grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "seccion seccion" "footer footer"; }
  .contenedorNosotros .header {
    grid-area: header; }
  .contenedorNosotros .nosotrosMenu {
    grid-area: contenidoPrincipal; }
    .contenedorNosotros .nosotrosMenu h2 {
      margin: 22px;
      margin-left: 32%;
      font-family: 'Lilita One', cursive; }
    .contenedorNosotros .nosotrosMenu p {
      padding: 5%;
      font-family: 'Share', cursive; }
    .contenedorNosotros .nosotrosMenu img {
      height: 200px;
      margin: 10px 20px 50px 50px;
      border: solid 3px black; }
  .contenedorNosotros .sectionNos {
    grid-area: seccion; }
    .contenedorNosotros .sectionNos .iframe {
      height: 310px;
      width: 408px;
      border: 1px black solid;
      margin-left: 35%;
      margin-top: 50px;
      margin-bottom: 52px; }
  .contenedorNosotros .piePagina {
    grid-area: footer; }
    .contenedorNosotros .piePagina p {
      display: flex;
      justify-content: center; }

.contenedorContacto {
  grid-template-columns: 0.5fr 0.5fr  0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .contenedorContacto .header {
    grid-area: header; }
  .contenedorContacto .contenidoPrincipal {
    grid-area: main; }
    .contenedorContacto .contenidoPrincipal h2 {
      margin: 5%;
      margin-left: 24%;
      color: #0003b2;
      font-family: 'Alfa Slab One', cursive; }
    .contenedorContacto .contenidoPrincipal p {
      margin: 2%;
      font-family: 'Roboto Condensed', sans-serif; }
    .contenedorContacto .contenidoPrincipal .formulario {
      border: 1px black solid;
      background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
      border-radius: 44px;
      margin: 90px;
      padding: 80px; }
  .contenedorContacto .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; }

body {
  background-color: #f0f8ff; }

.header {
  background-color: #050f14;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .link ul {
    list-style: none; }
    .header .link ul li {
      display: inline-block;
      padding: 0px 20px; }
      .header .link ul li:hover {
        transform: scale(1.1); }
      .header .link ul li a {
        font-size: 30px;
        color: #fff;
        text-decoration: none; }
        .header .link ul li a:hover {
          color: #008cff; }
  .header .logo {
    cursor: pointer; }
    .header .logo img {
      height: 280px;
      width: auto;
      transition: all; }
    .header .logo:hover {
      transform: scale(1.2); }
  .header .btn button {
    font-weight: 700;
    color: yellow;
    padding: 9px 25px;
    background-color: #0600a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .header .btn button:hover {
      background-color: #0601a3;
      color: #e5ff00;
      transform: scale(1.1); }

/*footer*/
.piePagina {
  background-color: black;
  grid-area: footer;
  height: 200px;
  margin-top: auto; }
  .piePagina .redesImg {
    width: 120px;
    margin: 5px; }
  .piePagina .whatsapp {
    position: fixed;
    bottom: 30px;
    right: 20px; }
    .piePagina .whatsapp .whatImg {
      width: 90px; }
  .piePagina p {
    color: white;
    display: flex;
    justify-content: center; }
