/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Lilita+One&family=Mate+SC&family=Roboto+Condensed&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee+Inline&family=Kdam+Thmor+Pro&family=Lilita+One&family=Mate+SC&family=Mitr&family=Patua+One&family=Roboto+Condensed&family=Rubik+Mono+One&family=Russo+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Bungee&family=Bungee+Inline&family=Mate+SC&family=Rubik+Mono+One&family=Share&display=swap");
.contenedorIndex {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr 0.5fr;
  grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "seccionIndex seccionIndex" "footer footer"; }
  .contenedorIndex .header {
    grid-area: header; }
  .contenedorIndex .contenidoPrincipal {
    grid-area: contenidoPrincipal; }
    .contenedorIndex .contenidoPrincipal h1 {
      padding: 50px;
      text-align: center;
      font-family: 'Anton', sans-serif; }
      .contenedorIndex .contenidoPrincipal h1 .tituloPrincipal {
        display: inline-block;
        align-items: center; }
    .contenedorIndex .contenidoPrincipal .parrafoPrin {
      margin-left: 3%;
      margin-right: 3%;
      text-align: center;
      font-family: "Be Vietnam Pro", sans-serif; }
  .contenedorIndex .seccionIndex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 290px;
    gap: 40px;
    padding: 40px;
    grid-area: seccionIndex; }
    .contenedorIndex .seccionIndex .indexItem {
      width: 90%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #008cff;
      border-radius: 4px;
      transition: transform 0.3s ease-in-out;
      border: solid 1px white; }
      .contenedorIndex .seccionIndex .indexItem:hover {
        filter: opacity(0.9);
        transform: scale(1.08); }
  .contenedorIndex .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

/*pantalla tablet*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .contenedorIndex {
    width: 80%;
    max-width: 80%;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.7fr;
    /*header*/
    /*main*/
    /*seccion*/ }
    .contenedorIndex .header .logo {
      height: 0px;
      display: none; }
    .contenedorIndex .header .link ul li {
      display: block; }
    .contenedorIndex .contenidoPrincipal .h5 {
      font-size: 13px;
      color: #d8d0d0;
      font-family: 'Anton', sans-serif; }
    .contenedorIndex .contenidoPrincipal .pIndex {
      font-size: 13px;
      color: #d8d0d0;
      font-family: 'Anton', sans-serif; }
    .contenedorIndex .contenidoPrincipal .tituloPrincipal {
      font-size: 30px; }
    .contenedorIndex .contenidoPrincipal .parrafoPrin {
      font-size: 30px; }
  /*pie de pagina*/
  .piePagina .redesImg {
    width: 60px;
    margin: 3%; }
  .piePagina .whatsapp {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px; } }

/*tablet */
@media (max-width: 768px) and (min-width: 480px) {
  .contenedorIndex {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "seccionIndex seccionIndex" "footer footer";
    /*main*/ }
    .contenedorIndex .header .logo {
      display: none; }
    .contenedorIndex .header .link {
      display: block; }
      .contenedorIndex .header .link a {
        font-size: 27px; }
    .contenedorIndex .contenidoPrincipal {
      /*PIE DE PAGINA*/ }
      .contenedorIndex .contenidoPrincipal .h5 {
        font-size: 13px;
        color: #d8d0d0;
        font-family: 'Anton', sans-serif; }
      .contenedorIndex .contenidoPrincipal .pIndex {
        font-size: 13px;
        color: #d8d0d0;
        font-family: 'Anton', sans-serif; }
      .contenedorIndex .contenidoPrincipal .tituloPrincipal {
        font-size: 30px; }
      .contenedorIndex .contenidoPrincipal .parrafoPrin {
        font-size: 30px;
        margin: 53px; }
      .contenedorIndex .contenidoPrincipal .piePagina .redes .redesImg {
        width: 40px; }
      .contenedorIndex .contenidoPrincipal .piePagina .whatsapp .whatImg {
        display: none; }
      .contenedorIndex .contenidoPrincipal .piePagina p {
        font-size: 10px; } }

/*pantalla celular*/
@media (max-width: 479px) and (min-width: 320px) {
  .contenedorIndex {
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header" "contenidoPrincipal" "seccionIndex" "footer";
    /*HEADER*/
    /*MAIN*/
    /*SECTION*/ }
    .contenedorIndex .header .logo {
      height: 0px;
      display: none; }
    .contenedorIndex .header .link {
      display: block; }
      .contenedorIndex .header .link a {
        font-size: 7px; }
    .contenedorIndex .contenidoPrincipal .tituloPrincipal {
      font-size: 31px; }
    .contenedorIndex .contenidoPrincipal .parrafoPrin {
      margin-left: 6%;
      padding-right: 34px;
      font-size: 14px; }
    .contenedorIndex .contenidoPrincipal strong {
      font-size: 14px; }
    .contenedorIndex .seccionIndex .indexItem {
      display: none; }
    .contenedorIndex .piePagina {
      height: 82%;
      margin-bottom: 0%; }
      .contenedorIndex .piePagina .redesImg {
        width: 50px; }
      .contenedorIndex .piePagina .whatsapp .whatImg {
        width: 54px; }
      .contenedorIndex .piePagina p {
        font-size: 12px; } }

.contenedorTienda {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr  0.5fr;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-template-areas: "header header header" "galeria galeria galeria" "footer footer footer"; }
  .contenedorTienda .header {
    grid-area: header; }
  .contenedorTienda .tiendaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 320px;
    gap: 100px;
    padding: 40px;
    margin: 6px;
    grid-area: galeria; }
  .contenedorTienda .tiendaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 10px; }
  .contenedorTienda .piePagina {
    grid-area: footer; }

/*tablet */
@media (max-width: 768px) and (min-width: 480px) {
  .contenedorTienda {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header header" "galeria galeria" "footer footer"; }
    .contenedorTienda .header .logo {
      display: none; }
    .contenedorTienda .header .link {
      display: block; }
      .contenedorTienda .header .link a {
        font-size: 27px; } }

/*pantalla celular*/
@media (max-width: 479px) and (min-width: 320px) {
  .contenedorTienda {
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header" "galeria" "footer";
    /*HEADER*/
    /*PIE DE PAGINA*/ }
    .contenedorTienda .header .logo {
      height: 0px;
      display: none; }
    .contenedorTienda .header .link {
      width: auto; }
      .contenedorTienda .header .link .btn {
        padding: 2px 9px; }
        .contenedorTienda .header .link .btn button {
          font-size: 3px;
          font-weight: 700; }
      .contenedorTienda .header .link a {
        font-size: 7px; }
    .contenedorTienda .piePagina {
      height: 99%; }
      .contenedorTienda .piePagina .redesImg {
        width: 50px; }
      .contenedorTienda .piePagina .whatsapp .whatImg {
        width: 54px; }
      .contenedorTienda .piePagina p {
        font-size: 12px;
        margin-top: 4%; } }

.contenedorNovedades {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.1fr;
  grid-template-areas: "header header" " contenido contenido" "footer footer"; }
  .contenedorNovedades .header {
    background-color: #050f14;
    grid-area: header; }
  .contenedorNovedades .contenido {
    grid-area: contenido; }
    .contenedorNovedades .contenido .contenedorNovedad {
      display: flex;
      margin: 4%;
      width: 70%;
      margin-left: 19%; }
      .contenedorNovedades .contenido .contenedorNovedad .uniT {
        margin-right: 6%;
        border: 4px black solid;
        margin-right: 18%; }
      .contenedorNovedades .contenido .contenedorNovedad .parlantes {
        margin-right: 6%;
        border: 4px black solid; }
      .contenedorNovedades .contenido .contenedorNovedad .card-img-top {
        width: 39%;
        margin-left: 27%; }
      .contenedorNovedades .contenido .contenedorNovedad .card-title {
        text-align: center;
        font-size: 23px;
        margin-left: 20%;
        margin-right: 20%; }
      .contenedorNovedades .contenido .contenedorNovedad .card-text {
        font-size: 15px; }
      .contenedorNovedades .contenido .contenedorNovedad .btn-primary {
        margin-top: 3%;
        margin-left: 23%; }
    .contenedorNovedades .contenido h1 {
      font-family: "Anton", sans-serif;
      margin: 6%;
      font-size: 42px;
      text-align: center; }
    .contenedorNovedades .contenido p {
      margin: 1%;
      font-family: "Be Vietnam Pro", sans-serif;
      text-align: center;
      font-size: 24px; }
  .contenedorNovedades .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

/*tablet */
@media (max-width: 768px) and (min-width: 480px) {
  .contenedorNovedades {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header header" "contenido contenido" "footer footer"; }
    .contenedorNovedades .header .logo {
      display: none; }
    .contenedorNovedades .header .link {
      display: block; }
      .contenedorNovedades .header .link a {
        font-size: 27px; } }

/*pantalla celular*/
@media (max-width: 479px) and (min-width: 320px) {
  .contenedorNovedades {
    grid-template-columns: 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas: "header" "contenido" "footer";
    /*HEADER*/
    /*contenido*/
    /*pie depagina*/ }
    .contenedorNovedades .header .logo {
      height: 0px;
      display: none; }
    .contenedorNovedades .header .link {
      display: block;
      width: 100%; }
      .contenedorNovedades .header .link .btn {
        padding: 2px 9px; }
        .contenedorNovedades .header .link .btn button {
          font-size: 8px;
          font-weight: 700; }
      .contenedorNovedades .header .link a {
        font-size: 7px; }
    .contenedorNovedades .contenido h1 {
      text-align: center;
      font-size: 26px;
      margin-top: 35px;
      margin-bottom: 29px; }
    .contenedorNovedades .contenido p {
      font-size: 15px;
      margin-left: 68px;
      margin-right: 54px;
      margin-bottom: 22px;
      text-align: center; }
      .contenedorNovedades .contenido p strong {
        font-size: 15px; }
    .contenedorNovedades .contenido .contenedorNovedad {
      width: 10rem;
      display: inline-block;
      margin-left: 46px;
      margin-top: 32px;
      margin-bottom: 54px; }
      .contenedorNovedades .contenido .contenedorNovedad .uniT {
        margin-left: 2px;
        border: 2px black solid;
        height: 40%;
        width: 200px; }
      .contenedorNovedades .contenido .contenedorNovedad .card-title {
        text-align: center;
        font-size: 22px;
        margin-left: 15%;
        margin-right: 15%; }
      .contenedorNovedades .contenido .contenedorNovedad .card-img-top {
        width: 58%;
        margin-left: 17%;
        margin-right: 15%; }
      .contenedorNovedades .contenido .contenedorNovedad .card-text {
        font-size: 13px;
        margin-left: 0px;
        margin-right: 1px; }
      .contenedorNovedades .contenido .contenedorNovedad .parlantes {
        width: 10rem;
        border: 2px black solid; }
    .contenedorNovedades .piePagina {
      margin-bottom: 0%;
      width: 100%; }
      .contenedorNovedades .piePagina .redesImg {
        width: 20px;
        margin-bottom: 44px; }
      .contenedorNovedades .piePagina .whatsapp .whatImg {
        width: 34px; }
      .contenedorNovedades .piePagina p {
        font-size: 12px;
        margin-bottom: 0px; } }

.contenedorNosotros {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr  0.5fr;
  grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "footer footer"; }
  .contenedorNosotros .header {
    grid-area: header; }
  .contenedorNosotros .nosotrosMenu {
    grid-area: contenidoPrincipal; }
    .contenedorNosotros .nosotrosMenu h1 {
      margin: 22px;
      margin-left: 32%;
      font-family: "Anton", sans-serif; }
    .contenedorNosotros .nosotrosMenu p {
      padding: 5%;
      font-family: "Be Vietnam Pro", sans-serif; }
    .contenedorNosotros .nosotrosMenu img {
      height: 200px;
      margin: 10px 20px 50px 50px;
      border: solid 3px black; }
  .contenedorNosotros .piePagina {
    grid-area: footer; }
    .contenedorNosotros .piePagina p {
      display: flex;
      justify-content: center; }

/*tablet */
@media (max-width: 768px) and (min-width: 480px) {
  .contenedorNosotros {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header header" "contenidoPrincipal contenidoPrincipal" "footer footer"; }
    .contenedorNosotros .header .logo {
      display: none; }
    .contenedorNosotros .header .link {
      display: block; }
      .contenedorNosotros .header .link a {
        font-size: 27px; } }

/*pantalla celular*/
@media (max-width: 479px) and (min-width: 320px) {
  .contenedorNosotros {
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header" "contenidoPrincipal " "footer";
    /*HEADER*/
    /*PIE DE PAGINA*/ }
    .contenedorNosotros .header .logo {
      height: 0px;
      display: none; }
    .contenedorNosotros .header .link .btn {
      padding: 2px 9px; }
      .contenedorNosotros .header .link .btn button {
        font-size: 8px;
        font-weight: 700; }
    .contenedorNosotros .header .link a {
      font-size: 7px; }
    .contenedorNosotros .nosotrosMenu {
      grid-area: contenidoPrincipal; }
      .contenedorNosotros .nosotrosMenu h1 {
        font-size: 20px;
        margin: 22px;
        margin-left: 32%;
        font-family: 'Lilita One', cursive; }
      .contenedorNosotros .nosotrosMenu p {
        padding: 5%;
        font-family: 'Share', cursive; }
      .contenedorNosotros .nosotrosMenu img {
        height: 170px;
        margin: 8px 18px 45px 45px;
        border: solid 3px black; }
    .contenedorNosotros .piePagina .redes .redesImg {
      width: 40px; }
    .contenedorNosotros .piePagina .whatsapp .whatImg {
      width: 60px; }
    .contenedorNosotros .piePagina p {
      font-size: 10px; } }

.contenedorContacto {
  grid-template-columns: 0.5fr 0.5fr  0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .contenedorContacto .header {
    grid-area: header; }
  .contenedorContacto .contenidoPrincipal {
    grid-area: main; }
    .contenedorContacto .contenidoPrincipal h1 {
      margin: 5%;
      text-align: center; }
    .contenedorContacto .contenidoPrincipal p {
      margin: 2%;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center; }
    .contenedorContacto .contenidoPrincipal .formulario {
      border: 2px black solid;
      background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
      border-radius: 44px;
      margin: 90px;
      padding: 80px;
      width: 45%;
      margin-left: 28%;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .form-label {
      font-size: 23px;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .input-group-text {
      font-size: 23px;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .form-check-label {
      font-size: 23px;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .form-control {
      width: 100%;
      height: 38px; }
    .contenedorContacto .contenidoPrincipal .input-group-text {
      width: 38%;
      font-size: 15px;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .form-check {
      width: 20%; }
    .contenedorContacto .contenidoPrincipal .form-controol {
      width: 52%;
      font-family: 'Mitr', sans-serif; }
    .contenedorContacto .contenidoPrincipal .form-check-input {
      height: 16px;
      width: 16px; }
    .contenedorContacto .contenidoPrincipal .btn-primary {
      text-align: center;
      font-family: 'Mitr', sans-serif; }
  .contenedorContacto .piePagina {
    grid-area: footer;
    height: 200px;
    margin-top: auto; }

/*tablet */
@media (max-width: 768px) and (min-width: 480px) {
  .contenedorContacto {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header header" "main main" "footer footer"; }
    .contenedorContacto .header .logo {
      display: none; }
    .contenedorContacto .header .link {
      display: block; }
      .contenedorContacto .header .link a {
        font-size: 27px; } }

/*pantalla celular*/
@media (max-width: 479px) and (min-width: 320px) {
  .contenedorContacto {
    grid-template-columns: 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "header" "main" "footer";
    /*HEADER*/
    /*main*/
    /*PIE DE PAGINA*/ }
    .contenedorContacto .header .logo {
      height: 0px;
      display: none; }
    .contenedorContacto .header .link .btn {
      padding: 2px 9px; }
      .contenedorContacto .header .link .btn button {
        font-size: 8px;
        font-weight: 700; }
    .contenedorContacto .header .link a {
      font-size: 7px; }
    .contenedorContacto .contenidoPrincipal h1 {
      font-size: 35px; }
    .contenedorContacto .contenidoPrincipal p {
      font-size: 20px; }
      .contenedorContacto .contenidoPrincipal p strong {
        font-size: 20px; }
    .contenedorContacto .contenidoPrincipal .formulario {
      width: 90%;
      margin-left: 5%;
      margin-right: 2%; }
    .contenedorContacto .contenidoPrincipal .form-label {
      font-size: 15px; }
    .contenedorContacto .contenidoPrincipal .form-control {
      width: 120%;
      height: 28px; }
    .contenedorContacto .contenidoPrincipal .input-group-text {
      font-size: 14px;
      text-align: center; }
    .contenedorContacto .contenidoPrincipal .form-check-label {
      font-size: 14px;
      text-align: center; }
    .contenedorContacto .contenidoPrincipal .btn-primary {
      height: 50px;
      font-size: 18px;
      margin-left: 20%; }
    .contenedorContacto .contenidoPrincipal .input-group {
      display: block; }
    .contenedorContacto .contenidoPrincipal .form-controol {
      height: 80%;
      width: 100%; }
    .contenedorContacto .contenidoPrincipal .input-group-text {
      height: 80%;
      width: 100%; }
    .contenedorContacto .piePagina {
      height: 82%;
      margin-bottom: 0%; }
      .contenedorContacto .piePagina .redesImg {
        width: 50px; }
      .contenedorContacto .piePagina .whatsapp .whatImg {
        width: 54px; }
      .contenedorContacto .piePagina p {
        font-size: 12px; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; }

body {
  background-color: #f0f8ff; }

.header {
  background-color: #050f14;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .link ul {
    list-style: none; }
    .header .link ul li {
      display: inline-block;
      padding: 0px 20px; }
      .header .link ul li:hover {
        transform: scale(1.1); }
      .header .link ul li a {
        font-size: 31px;
        color: #fff;
        text-decoration: none; }
        .header .link ul li a:hover {
          color: #008cff; }
  .header .logo {
    cursor: pointer; }
    .header .logo img {
      height: 280px;
      width: auto;
      transition: all; }
    .header .logo:hover {
      transform: scale(1.2); }
  .header .btn button {
    font-weight: 700;
    color: yellow;
    padding: 9px 25px;
    background-color: #0600a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .header .btn button:hover {
      background-color: #0601a3;
      color: #e5ff00;
      transform: scale(1.1); }

/*footer*/
.piePagina {
  background-color: black;
  grid-area: footer;
  height: 200px;
  margin-top: auto; }
  .piePagina .redesImg {
    width: 90px;
    margin: 5px; }
  .piePagina .whatsapp {
    position: fixed;
    bottom: 30px;
    right: 20px; }
    .piePagina .whatsapp .whatImg {
      width: 90px; }
  .piePagina p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 17px; }
