
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&family=Rubik+Mono+One&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkalami&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,200;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
   
}

body{
    background-color: #f0f8ff;
    
}

.header{
    background-color: #050f14;
    display: flex;
    justify-content: space-between;
    align-items: center; 
     
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 280px;
    width: auto;
    transition: all;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .link ul {
   list-style: none;

}

.link li{
    display: inline-block;
    padding: 0px 20px;
}

.header .link li:hover{
    transform: scale(1.1);
} 

.header .link a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.header .link a:hover{
    color: #008cff;
}

.header .btn button{
    font-weight: 700;
    color: yellow;
    padding: 9px 25px;
    background-color: #0600a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #0601a3;
    color: #e5ff00;
    transform: scale(1.1);
}



.tituloPrincipal{
    display: inline-block;
   align-items: center;

}

.parrafoPrin{
    display: inline-block;
    margin-left: 300px;
}

.nosotrosMenu h2{
    margin-left: 35%;
    padding: 50px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alkalami', serif;
    font-family: 'Anton', sans-serif; 
}

.nosotrosMenu p{
    margin: 5%;
    font-family: 'Abril Fatface', cursive;
font-family: 'Alkalami', serif;
font-family: 'Anton', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
}

.contenidoPrincipal h1{
    padding: 50px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alkalami', serif;
    font-family: 'Anton', sans-serif; 
}

.contenidoPrincipal p{
  
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alkalami', serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.contenido h2{
    font-family: 'Rubik Mono One', sans-serif;
    margin: 6%;
    font-size: 42px;
}

.contenido p{
    margin: 5%;
}

.contenedorNovedad{
    display: flex;
    margin: 9%;
    padding: 2%;
    
}
 .uniT{
    margin-right: 6%;
    border: 4px black solid;
 }
.parlantes{
    margin-right: 6%;
    border: 4px black solid;
}

.galeriaProductos img{
    height: 200px;
    margin: 10px 20px 50px 50px;
    border: solid 3px black;
}
.whatImg{
width: 90px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.redesImg{
    width: 120px;
    margin: 5px;
}

.piePagina{
    background-color: black;
}

.piePagina p{
    color: white;
}

.iframe{
    height: 310px;
    width: 408px;
    border: 1px black solid;
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 52px;
}

.novedades{
    background-color: rgb(196, 150, 89);
}

.tituloNovedades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin-left: 400px;
}

.parrafoNovedades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 200px;
}

.sectionNovedades{
    background-color: rgb(196, 150, 89) ;
}

.sectionParrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 35px;
    margin-left: 100px;
}


.novedadesImg{
    height: 200px;
    border: solid 3px black;
    margin-left: 550px;
    margin-bottom: 30px;
    display: flex;
}



.galeriaaProductos{
     background-color: #0600a7;
     padding: 20px;
     height: 70%;
     color: #023047;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}

.galeriaaProductos img{
    border: solid 3px black;
    height: 200px;
    margin: 12px;
}


.contenedorNovedades{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-template-areas: "header header"
                         " contenido contenido"
                         "footer footer";
   
} 

.contenedorNovedades .header{
    background-color: #050f14;
    grid-area: header;
}

 .contenedorNovedades .contenido{
       grid-area: contenido;
 }


 .contenedorNovedades .produto {
    grid-area: producto;
 }
 
 .piePagina{
    grid-area: footer;
    height: 200px;
    margin-top: auto;
 }

 .contenedorIndex{
    width: 100%;
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  0.2fr 1fr 0.2fr 0.5fr;
    grid-template-areas: "header header"
                         "contenidoPrincipal contenidoPrincipal"
                         "seccionIndex seccionIndex"
                         "footer footer";
 }

 .contenedorIndex .header{
    grid-area: header;
 }

 .contenedorIndex .contenidoPrincipal{
    grid-area: contenidoPrincipal
 }

 
 .contenedorIndex .piePagina{
    grid-area: footer;
    height: 200px;
    margin-top: auto;
 }


 .seccionIndex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 320px;
    gap: 40px;
    padding: 40px;
    grid-area: seccionIndex;
 }
  .indexItem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008cff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border:solid 1px rgb(255, 255, 255) ; 
   
}

.indexItem:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.contenedorTienda{
    width: 100%;
    max-width: 100%; 
    display: grid;
   grid-template-columns: 0.5fr 0.5fr  0.5fr;
   grid-template-rows:  0.2fr 1fr 0.5fr; 
   grid-template-areas: "header header header"
                        "galeria galeria galeria"
                        "footer footer footer";
}

.contenedorTienda .header{
    grid-area: header;
}



.contenedorTienda .piePagina{
    grid-area: footer;
}

.contenedorTienda .tiendaProductos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 320px;
    gap: 100px;
    padding: 40px;
    margin: 6px;
    grid-area: galeria;
 }
 
  .tiendaItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 10px;
}
/* tamaño celular*/
.contenedorContacto{
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows:  0.2fr 0.5fr 0.5fr; 
   grid-template-areas: "header"
                        "form"
                        "footer";
}

.contenedorContacto .headerContacto{
    grid-area: header;
    background-color: #050f14;
}

.contenedorContacto ul{
    display: flex;
    flex-direction: row;
}

.contenedorContacto li{
    list-style-type: none;
    padding: 8px;
}

.contenedorContacto .logoCon img{
    width: 100px;
 
}
.contenedorContacto li a{
 font-size: 16px;
 text-decoration: none;
}

.contenedorContacto .contenidoPrincipal{
    grid-area: form;
}

.contenedorContacto .piePagina{
    grid-area: footer;
   
}
 .redesCon{
width: 20px;
display:flex ;
}

.piePagina p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.headerContacto .lik a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.headerContacto .lik a:hover{
    color: #008cff;
}

/*tablet*/
@media screen and (min-width:768px) {
    .contenedorContacto{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
                              "main main main"
                              "footer footer footer";
    }
    .contenedorContacto .headerContacto{
        grid-area: header;
    }
    
    .contenedorContacto .contenidoPrincipal{
        grid-area: main;
    }
    
    .contenedorContacto .piePagina{
        grid-area: footer;
    }
    .contenedorContacto li a{
        font-size: 28px;
        text-decoration: none;
       }
       .contenedorContacto .logoCon img{
        width: 190px;
     
    }   
    .headerContacto .lik a {
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }
    .headerContacto .lik a:hover{
        color: #008cff;
    }
}
/*destok*/

@media screen and (min-width: 1024px) {
    .contenedorContacto{
       grid-template-columns: 0.5fr 0.5fr  0.5fr;
       grid-template-rows:  0.5fr 0.5fr 0.5fr; 
       grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer";
    }
    .contenedorContacto .headerContacto{
        grid-area: header;
        background-color: #050f14;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height: 285px;
        padding: 5px 10px;  
    }
    
    .contenedorContacto .contenidoPrincipal{
        grid-area: main;
    }
    
    .contenidoPrincipal .formulario{
       border: 1px black solid;
       background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
       border-radius: 44px;
       margin: 90px;
       padding: 80px;
    }

    .contenedorContacto .piePagina{
        grid-area: footer;
        height: 200px;
        margin-top: auto;
    }
    .contenedorContacto li a{
        font-size: 28px;
        list-style: none;
        text-decoration: none;
       }
       .contenedorContacto .logoCon img{
        width: 190px;
        cursor: pointer;
        
     
    }   

    
    .headerContacto .logoCon{
        cursor: pointer;
    }
    
    .headerContacto .logoCon img{
        height: 280px;
        width: auto;
        transition: all;
    }
    
    .headerContacto .logoCon img:hover{
        transform: scale(1.2);
    }
    
    .headerContacto .link ul li{
       list-style: none;
    
    }
    .headerContacto .lik a {
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }
    .headerContacto .lik a:hover{
        color: #008cff;
    }
    
}
